.container {
    max-width: 124rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns:
        [full-start] 1fr [center-start] repeat(8, [col-start] minmax(0, 15rem)) [center-end] 1fr [full-end];
}